* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(92, 66, 168);
}
#desktop-body {
    background-image: url("/assets/bg-desktop.svg");
}
#mobile-body {
    background-image: url("/assets/bg-mobile.svg");
}
